.footer  {
  color: dark-blue; 
  margin-bottom: 10px;
  position:relative;
  
  }

.footer > .social-media > a {
  padding: 10px 5px 10px;
  font-size:38px;
  color:steelblue;
}

.footer > .copyright { 
    font-size: 68%;
    color:blue;
}
