@charset "utf-8";
/* CSS Document */
  @media print { 
 
 
 body{margin:0; padding:0 40px!important}

 .outer-wrapper-container{margin:10px 0 0 0px; padding-top:10px; border-top:1px solid #000; padding-left:15px }
.print-logo{display:block!important}
 .content-wrapper .container,.outer-wrapper{border:none}
  .content-wrapper .container,.outer-wrapper{margin:0; padding:0}
.background-image,.outer-wrapper-container,.content{background:#fff!important;}
.content{margin:0; padding-bottom: 0; padding:0}
#IdBgImage{display:none!important}
.container{padding:0}
.header-outer,.nav-primary-wrap,.leadstory,.breadcrumb-outer,.nav-secondary,.aside,.third-nav,.social-profile, .nav-footer .h-list,.go-top,.utility-wrap,.back-to-top,ul.nav-footer,.content .col-md-3,ul.listing li:first-child, ul.listing li:last-child{display:none!important}
.content-wrapper,.nav-footer{border:none!important; padding:0}
.outer-wrapper{background:#fff!important;border:none!important;}
.outer-wrapper,.article{border:none; box-shadow:none}
.page-head{color:#000!important; padding:0; border:0!important; font-size:28px}
.content-inner{margin-left:-15px}
ul.listing .col-md-3{display:block!important}

footer{background:#fff!important;; border:0!important;}
  .best-view-text{display:none}
    .content-inner{margin:0}
a[href]:after {
    content: none !important;
  }
    a[title="Read more"],a[title="Read"]{display:none}
.multiple-links-container,.listing-share,.bg-slide-wrapper, .spotlight,.cookie-text,.best-view-text,.cookie-outer{display:none}
.footer-widget-wrapper{border:none}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding:0}

 }




